*.pyc
.DS_Store?
*.esproj
*.expressostorage
*.scssc
compass_app_log.txt
.sass_cache
.DS_Store

cloudspring.sfmembers.egg-info/SOURCES.txt

cloudspring.sfmembers.egg-info/SOURCES.txt

cloudspring/sfmembers/browser/interfaces.pyc

cloudspring/sfmembers/browser/views.pyc
