#drawer #portlet-quickPost {
  background: #000 url('++resource++cloudspring.sfmembers/post-it-note.png') left top no-repeat;
  height: 375px;
}

#drawer #portlet-quickPost .inner {
  width: 300px;
  margin: 0 auto;
  padding-top: 40px;
}

#drawer .portletHeader {
  border: 0;
  background: transparent;
}

#drawer .portletHeader h2 {
  text-align: right;
  padding: 0;
}

#portlet-quickPost textarea {
  width: 100%;
}
#portlet-quickPost #form-widgets-title {
  width: 220px;
}

.portlet .tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
    z-index: 100001;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0     0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    box-shadow: 0 0 10px #000;

}

/* root element for tabs  */
#post-types {  
  margin:0 !important; 
  padding:0;
  height:30px;
  border-bottom:1px solid #666; 
}

/* solidingle tab */
#post-types li {  
  float:left; 
  padding:0; 
  margin:0;          
  list-style-type:none;
}

/* link inside the tab. uses a background     image */
#post-types a { 
  float:left;
  font-size:13px;
  display:block;
  padding:5px 30px;
  text-decoration:none;
  border:1px solid #666;
  border-bottom:0px;
  height:18px;
  background-color:#efefef;
  color:#777;
  margin-right:2px;
  position:relative;
  top:1px;
  outline:0;
  -moz-border-radius:8px 8px 0 0;
  border-radius:8px 8px 0 0;
}

#post-types a:hover {
  background-color:#F7F7F7;
  color:#333;
}

/* selected tab */
#post-types a.current {
  background-color:#ddd;
  border-bottom:1px solid #ddd;
  color:#000;
  cursor:default;
}


/* tab pane */
.post-type-form {
  display:none;
  border:1px solid #666;
  border-width:0 1px 1px 1px;
  padding:15px 10px;
  background: #ddd;
}
    
