/* @override 
	http://localhost:8080/Plone/++resource++cloudspring.sfmembers/quickPost.css
	http://localhost:8080/Plone/members/members-collection/++resource++cloudspring.sfmembers/quickPost.css */



#portlet-quickPost textarea {
  width: 100%;
}
#portlet-quickPost #form-widgets-title {
  width: 220px;
}

div.tooltip {
    width:200px;
    display:none;
    text-align:left;
    font-size: 12px;
    z-index: 100001;
	margin-top: 80px;
}

/* root element for tabs  */
#post-types, #my-content-tabs {  
  margin:0 !important; 
  padding:0;
  height:30px;
  border-bottom:1px solid #666; 
}

/* solidingle tab */
#post-types li, #my-content-tabs li {  
  float:left; 
  padding:0; 
  margin:0;          
  list-style-type:none;
}

/* link inside the tab. uses a background     image */
#post-types a, #my-content-tabs a { 
  float:left;
  font-size:13px;
  display:block;
  padding:5px 30px;
  text-decoration:none;
  border:1px solid #666;
  border-bottom:0px;
  height:18px;
  background-color:#efefef;
  color:#777;
  margin-right:2px;
  position:relative;
  top:1px;
  outline:0;
  -moz-border-radius:8px 8px 0 0;
  border-radius:8px 8px 0 0;
}

#post-types a:hover, #my-content-tabs a:hover {
  background-color:#F7F7F7;
  color:#333;
}

/* selected tab */
#post-types a.current, #my-content-tabs a.current {
  background-color:#ddd;
  border-bottom:1px solid #ddd;
  color:#000;
  cursor:default;
}


/* tab pane */
.post-type-form, .portletMyContentPortlet .contents-block {
  display:none;
  border:1px solid #666;
  border-width:0 1px 1px 1px;
  padding:15px 10px;
  background: #ddd;
}
    
