#footpanel {
	position: fixed;
	bottom: 0; left: 0;
	z-index: 9999; /*--Keeps the panel on top of all other elements--*/
	background: #e3e2e2;
	border: 1px solid #c3c3c3;
	border-bottom: none;
	width: 94%;
	margin: 0 3%;
}

/*--IE6 Hack - Fixed Positioning to the Bottom--*/
[if IE 6] *html #footpanel { 
	margin-top: -1px; 
    /*--Prevents IE6 from having an infinity scroll bar - due to 1px border on #footpanel--*/
	position: absolute;
	top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat') ?documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight) : document.body.scrollTop +(document.body.clientHeight-this.clientHeight));
}

#footpanel ul {
	padding: 0; margin: 0;
	float: left;
	width: 100%;
	list-style: none;
	border-top: 1px solid #fff; /*--Gives the bevel feel on the panel--*/
	font-size: 1em;
}

#footpanel ul li{
	margin: 0px; 
    padding: 0;
	float: left;
	position: relative;
}

#footpanel ul li a {
	padding: 5px;
	float: left;
	height: 32px; 
    width: 32px;
	color: #333;
	position: relative;
}

html #footpanel ul li a:hover {
    background-color: #fff;
}

html #footpanel ul li a.active { /*--Active state when sub-panel is open--*/
    background-color: #fff;
	height: 32px;
	margin-top: -2px; /*--Push it up 2px to attach the active button to sub-panel--*/
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	z-index: 200; /*--Keeps the active link on top of the sub-panel--*/
	position: relative;
}

/*--Reset link style for sub-panel links--*/
#footpanel ul li div a { 
	text-indent: 0;
	width: auto;
	height: auto;
	padding: 0;
	float: none;
	color: #00629a;
	position: static;
}

/*--Reset hover style for sub-panel links--*/
#footpanel ul li div a:hover {	text-decoration: underline; } 

#footpanel .subpanel {
	position: absolute;
	right: 20px; 
    bottom: 44px;
	display: none;	/*--Hide by default--*/
	height:308px;
	width:224px;
	border: 1px solid #ccc;
	background: #fff;
	overflow: hidden;
}

#chatpanel .subpanel {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:none;
    bottom: 44px; 
}

#footpanel .subpanel ul{
	padding: 0; margin: 0;
	background: #fff;
	width: 100%;
	overflow: auto;
	padding-bottom: 2px;
}

#footpanel .subpanel li{
	float: none; /*--Reset float--*/
	display: block;
	padding: 0; margin: 0;
	overflow: hidden;
	clear: both;
	background: #fff;
	position: static;  /*--Reset relative positioning--*/
	font-size: 0.9em;
}

#footpanel h3 {
	background: #8CACBB;
	padding:7px;
	color: #ffffff;
	border-right:1px solid #8CACBB;
	border-left:1px solid #8CACBB;
	cursor: pointer;
    margin: 0;
	font-size: 100%;
}

#footpanel h3 span { /*--Right aligned "-" icon--*/
	font-size: 1.5em;
	float: right;
	line-height: 0.6em;
	font-weight: normal;
}

#footpanel a.home{
	background: url(++resource++actionbar.panel.images/home_32.png) no-repeat 15px center;
	width: 52px;
	border-right: 1px solid #bbb;
	text-indent: 0; !important;
    /*--Reset text indent since there will be a combination of both text and image--*/
}

a.profile { 
    background: url(++resource++actionbar.panel.images/user_32.png) no-repeat center center;  
}

a.editprofile { 
    background: url(++resource++actionbar.panel.images/tools_32.png) no-repeat center center; 
    border-right: 1px solid #bbbbbb;
}

a.contacts { 
    background: url(++resource++actionbar.panel.images/address_book_32.png) no-repeat center center; 
}

a.alerts { 
    background: url(++resource++actionbar.panel.images/newspaper_32.png) no-repeat center center; 
    border-right: 1px solid #bbbbbb;
}


a.changePassword { 
    background: url(++resource++actionbar.panel.images/lock_32.png) no-repeat center center; 
}

a.logout { 
    background: url(++resource++actionbar.panel.images/web_layout_error_32_close.png) no-repeat center center; 
}

a.studentZone, a.facultyZone { 
    background: url(++resource++actionbar.panel.images/comment_user_32.png) no-repeat center center; 
}

a.blogPost { 
    background: url(++resource++actionbar.panel.images/newspaper_add_32.png) no-repeat center center; 
}

/*--Reset left positioning and make it right positioned--*/
#alertpanel .subpanel { 
    right: 0; left: auto; 
}

#alertpanel .subpanel li {
	border-top: 1px solid #f0f0f0;
	display: block;
}

/* Needed, because else the overlay would be hidden below the panel */
div.overlay-ajax {
    padding-bottom: 44px;
}
